{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djangoBlog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <div class="nav-left">
    <h1><a href="{% url 'home' %}">django Blog</a></h1>
    </div>
    <div class="nav-right">
        <h1><a href="{% url 'post_new' %}">+ new Blog Post</a></h1>
    </div>
</header>
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<a href="{% url 'logout' %}">Logut</a>
{% else %}
<p> you are logged out please login</p>
<a href="{% url 'login'%}">Login</a>
{% endif %}

<div>
    {% block content%}
    {% endblock content%}
</div>

</body>
</html>