{% extends 'base.html' %}

{% block content %}
{% for post in object_list %}
<div class="post-entry">
    <h1><a href="{% url 'post_detail' post.pk %}">{{post.tittle}}</a></h1>
    <p> {{post.body}}</p>
</div>
{% endfor%}
<div>
    {% if user.is_authenticated %}
    <form method="">
        <h1>please write comments here</h1>
        <table>

            <tr>
            <td><label>email</label></td>
            <td><input type="email" name="email" placeholder="e:g example@gmail.com"></td>
            </tr>
            <tr>
                <td><label>comments</label></td>
                <td><textarea cols="20px" rows="20px" name="" placeholder="write to us a comment"></textarea></td>
            <tr>
                <td> </td>
                <td><button value ="submit"> submit </td>
            </tr>
            </tr>
        </table>
</form>
    {% endif %}
</div>
{% endblock content %}
